.button {
    -fx-background-color: #66CDAA; /* Green background */
    //add a shadow and circle the button
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-padding: 15px 32px; /* Padding */
    -fx-text-align: left; /* Center text */
    -fx-text-decoration: none; /* No underline */
    -fx-display: inline-block; /* Display as inline block */
    -fx-font-size: 12px; /* Font size */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);



}

.clicked {
    -fx-background-color: rgba(7, 255, 12, 0.79); /* Green background */
    -fx-border: none; /* No border */
    -fx-color: white; /* White text */
    -fx-padding: 15px 32px; /* Padding */
    -fx-text-align: left; /* Center text */
    -fx-text-decoration: none; /* No underline */
    -fx-display: inline-block; /* Display as inline block */
    -fx-font-size: 12px; /* Font size */
}

/* Style for circular CheckBox */
#checkBox {
    -fx-background-color: #FFFFFF; /* White background */
    -fx-border-color: #CCCCCC; /* Light gray border */
    -fx-border-width: 1; /* Border width */
    -fx-border-radius: 50; /* Rounded corners */
    -fx-background-radius: 50; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0.5, 0, 1); /* Subtle shadow effect */
}

#checkBox.selected {
    -fx-background-color:#00FFFF; /* Light blue background when selected */
}
