/* Minimalist and refined style for the Load File button */
#LoadFileButton {
    -fx-background-color: #4CAF50; /* Solid green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 12px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-background-radius: 8; /* Rounded corners */
    -fx-border-radius: 8; /* Rounded corners */
    -fx-padding: 5 10; /* Padding */
    -fx-border-color: transparent; /* Transparent border for a clean look */
    -fx-border-width: 2; /* Border width */
    -fx-cursor: hand; /* Hand cursor on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.5, 0, 2); /* Subtle shadow effect */
    -fx-transition: all 0.2s ease; /* Smooth transition for hover and pressed states */
}

#LoadFileButton:hover {
    -fx-background-color: #45A049; /* Slightly lighter green on hover */
}

#LoadFileButton:pressed {
    -fx-background-color: #388E3C; /* Darker green when pressed */
}

#HboxUp1{
    -fx-background-color: #d2e5f6;
}

/* Style for the SplitPane divider */
.split-pane .split-pane-divider {
    -fx-background-color: #d2e5f6; /* Change the background color */
    -fx-border-color: #d2e5f6; /* Add a border to the divider */
    -fx-border-width: 1; /* Set border width */
    -fx-pref-width: 5; /* Set preferred width of the divider */
    -fx-pref-height: 5; /* Set preferred height of the divider */
    -fx-background-insets: 0; /* Adjust background insets if needed */
}

/* Basic style for TextField with a light blue background */



#actionLabel{
    -fx-background-color: rgba(255, 0, 0, 0.6);

}

#upVbox {
    -fx-background-color: #cbe1f3;
}

.separator {
    -fx-background-color: #007ACC;
    -fx-border-color: #007ACC;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

#sheet{
    -fx-cursor: cell;
}