/* General Styles */

/* ScrollPane Styling */
#rootOfRoot {
    -fx-background-color: #E3F2FD;
}

/* VBox Styling */
#root {
    -fx-background-color: #E3F2FD; /* White background for the VBox */

}

/* Label Styling */
.label{
    -fx-text-fill: #333333; /* Dark gray text for labels */
    -fx-font-size: 16px; /* Font size for main label */
    -fx-font-weight: bold; /* Bold text */
    -fx-font-family: "San Francisco"; /* Apple font style */
}



/* ChoiceBox Styling */
.choice-box {
    -fx-background-color: #F0F0F5; /* Light gray for the choice box */
    -fx-border-color: #D1D1D6; /* Border color */
    -fx-border-radius: 8; /* Rounded corners */
}

/* Button Styling */
.button {
    -fx-background-color: #607D8B; /* Blue color for the button */
    -fx-text-fill: white;           /* White text */
    -fx-font-size: 14px;            /* Font size */
    -fx-font-weight: bold;          /* Bold text */
    -fx-background-radius: 8;       /* Rounded corners */
    -fx-font-family: "San Francisco"; /* Apple font style */
}

/* Button Hover Effect */
.button:hover {
    -fx-background-color: #78909C; /* Darker blue on hover */
}

/* Button Pressed Effect */
.button:pressed {
    -fx-background-color: #004B9A; /* Even darker blue when pressed */
}
